body {
    width: 1920px;
    font-family: Arial,serif;
}

.floor1{
    width: 1200px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

.floor2{
    width: 1200px;
    border: 2px solid black;
    padding: 20px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.room {
    width: 250px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.room p {
    padding-left: 30px;
    font-weight: bold;
}