body {
    font-family: Inter, sans-serif !important;
}

header {
    height: 135px;
    background-color: rgba(144, 204, 212, 1);
}

.main-container {
    margin: 0px 350px;
    height: 100%;
    background-color: rgba(186, 219, 216, 0.75);
}

.floor-text {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 20px;
    font-size: 30px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.room {
    width: 280px;
    background-color: rgba(127, 129, 132, 0.29);
    border: 1px solid black;
    margin-bottom: 26px;
}

.room-description {
    display: flex;
    justify-content: center;
    font-size: 18px;

}

.room-bookings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-booking {
    display: flex;
    width: 260px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.booking-info p {
    margin: 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.container-form {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    position: relative;
}

.form-label {
    width: 120px;
}

@media (min-width: 1024px) {
    .main-container {
        margin: 0px 150px;
    }
}

@media (min-width: 1440px) {
    .main-container {
        margin: 0px 100px;
    }
}

@media (min-width: 1600px) {
    .main-container {
        margin: 0px 250px;
    }
}

@media (min-width: 1900px) {
    .main-container {
        margin: 0px 350px;
    }
}