html{
    width: 1920px;
}

body {
    width: 1200px;
    font-family: Arial,serif;
    font-size: 18px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.room {
    width: 250px;
    /*border: 2px solid black;*/
    margin-bottom: 20px;
}