{% extends 'base.html' %}

{% block title %}Брони на {{ date }}{% endblock %}

{% block content %}
<!--ЭТО ТЕСТОВЫЙ HTML КОТОРЫЙ НЕ ГОТОВ И БУДЕТ ДОРАБОТАН-->
<h1>Брони на {{ date }}</h1>


<div class="floor1">
    <h2>Этаж 1</h2>
    <div class="rooms">

        <div class="room">
            <p>Комната 1</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 2</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 3</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 4</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 5</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 6</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 7</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 8</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

    </div>
</div>

<div class="floor2">
    <h2>Этаж 2</h2>
    <div class="rooms">
        <div class="room">
            <p>Комната 9</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>

        <div class="room">
            <p>Комната 10</p>
            <ul>
                <li>Имя - {{ name }}</li>
                <li>Телефон: {{ phone }}</li>
                <li>Кол-во посетителей: {{ visitors }}</li>
                <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}

<!--<div class="room">-->
<!--        <p>Комната 4</p>-->
<!--        <ul>-->
<!--            <li>Имя - {{ name }}</li>-->
<!--            <li>Телефон: {{ phone }}</li>-->
<!--            <li>Кол-во посетителей: {{ visitors }}</li>-->
<!--            <li>Время бронирования: {{ start_time }} - {{ end_time}}</li>-->
<!--        </ul>-->
<!--    </div>-->
