{% extends 'base.html' %}

{% block title %}Брони на {{ date|date:"d.m.Y" }}{% endblock %}

{% block content %}

<div class="main-container">
    {% for floor in floors %}
    <div class="floor">
        <p class="floor-text">Этаж {{ floor }}</p>

        <div class="rooms">
            {% for room in rooms %}
            {% if room.floor == floor %}

            <div class="room">
                <div class="room-head">
                    <p class="room-description">{{ room.room_name }} ({{ room.description }})</p>
                </div>
                <div class="room-bookings">
                    {% for obj in db_entry %}
                    {% if obj.room.room_name == room.room_name %}


                    <div class="room-booking">
                        <!-- РЕДАКТИРОВАНИЕ ЗАПИСИ -->
                            <a href="/bookings/{{obj.pk}}/edit">
                                <button type="button" class="btn btn-light button-edit" data-bs-toggle="modal"
                                    data-bs-target="#editModal">

                                </button>
                            </a>
                            <!-- конец редактирования записи -->
                        <div class="time-header">
                        <p class="booking-time">{{ obj.start_time|time:"H:i" }} - {{ obj.end_time|time:"H:i" }}</p>
                        </div>
                        <div class="booking-info">
                            <p><b>{{ obj.name }}, {{ obj.phone_number }}</b></p>
                            <p>Посетителей: <b>{{ obj.how_many_visitors }}</b></p>

                            {% with obj.tags.all as tags %}
                            {% if tags %}
                            <p>
                                <b>Теги:</b>
                                {% for t in tags %}
                                {{ t.tag }}
                                {% endfor %}
                            </p>
                            {% endif %}
                            {% endwith %}

                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}